// COLORS

// Primary blue hue
$color-primary: #6389FF;

// Background gradient - Colors: blue/ violet


$color-primary-bg-violet: #af67e9;
$color-primary-bg-blue: #6565e7;

// Primary text color 
$color-primary-text-drk-grey-blue: hsl(237, 12%, 33%);
$color-primary-text-grey-blue: hsl(240, 6%, 50%);




$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-dark-bg: rgba(66%, 70%, 74%, 0.3);

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;